<nav>
  <!--<h1>Hi.</h1>-->
  <a href="/">
    <img src="{{ ASSET_PATH }}/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.author.name }}</a>.</h2>
  <hr/>
  <ul>
    <p>I do computer things and sometimes write about it here.</p>
  <p>
  Mathematical Eng. std <a href="http://yildiz.edu.tr" target="_blank">@YildizEdu</a><br/>Software Developer <a href="https://www.ideasoft.com.tr" target="_blank">@IdeaSoft</a>.
  <hr/>
  <div>
    <div id="social">
      {% include themes/lagom-theme/social.html %}
    </div>
  </div>
  </ul>
</nav>
